.rightLinks{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2vw;
}

.nav{
    z-index: 2;
    position:sticky;
    top:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 5vh;
    padding: 2% 0;
}
.homeIcon{
    width: 100%;
    height: auto;
    display: inline-block;
}
.homeLink{
    width: 6%;
    
}

