.vidoe{
    position: relative;
    top:0;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
}
video{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%,0% 100%);
}

.cover{
    position: absolute;
    top:0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    font-size: x-large;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%,0% 100%);
}
